* 
{
    margin: 0px;
    padding:0px;
}
body 
{
    background-color: black;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-rows: 7fr 3fr;
    place-items: center;
}
.display
{
    background-color: hsla(0, 0%, 100%, 0.02);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.button
{
    font-size: 25px;
}